.navigaion__set {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-left: 44px;
}

.navigation__links {
  display: flex;
  gap: 16px;
  margin: 0;
  padding: 0;
}

.navigation__link {
  list-style: none;
  display: block;
  align-self: center;
}

.navigation__link_movies {
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-align: right;
  text-decoration: none;
}

.navigation__link_saved {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-decoration: none;
}

.navigation__account {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  color: #000000;
  background: #f9f9f9;
  border-radius: 20px;
  width: 100px;
  height: 16px;
  align-self: center;
  padding: 8px 0;
}

@media screen and (max-width: 940px) {
  .navigaion__set {
    display: none;
  }
}
